/**
* http://babeljs.io/docs/plugins/preset-env/
* http://babeljs.io/docs/plugins/preset-env/
*/
{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "safari >= 7"
                    ],
                    "node": "current"
                },
                "useBuiltIns": true,
                "debug": true
            }
        ]
    ]
}
