/**
* http://babeljs.io/docs/plugins/preset-env/
* http://babeljs.io/docs/plugins/preset-env/
*/
{
    "presets": [
        "react" //转react
    ],
    "env": { //babel-preset-env
        "development": {
            "presets": [
                "react-hmre"
            ]
        },
        "useBuiltIns": true
    }
}
